/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .hero button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero button:hover {
    background-color: #004a99;
  }
  
  /* Features Section */
  .features {
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .features h2 {
    margin-bottom: 20px;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 0.9em;
  }
  
  /* Featured Products Section */
  .featured-products {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .featured-products h2 {
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .product {
    text-align: center;
   
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }
  
  .product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .product h3 {
    margin-bottom: 5px;
  }
  
  /* Testimonials Section */
  .testimonials {
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .testimonials h2 {
    margin-bottom: 20px;
  }
  
  .testimonial-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .testimonial {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .testimonial p {
    font-style: italic;
  }
  
  .testimonial h4 {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
  }
  